<section class="home">

  <div class="left">
    <div class="slider">
      <img src="photo-1.jpg" alt="Sushis" class="slide slide-1">
      <img src="photo-2.jpg" alt="Sushis" class="slide slide-2">
      <img src="photo-3.jpg" alt="Sushis" class="slide slide-3">
      <img src="photo-4.jpg" alt="Sushis" class="slide slide-4">
    </div>
  </div>


  <div class="right">
    <div class="card">
      <p>Découvrez nos sushis</p>

      <button routerLink="/login" class="btn">
        Se connecter
      </button>

      <p>
        Pas de compte ?
        <a routerLink="/register">S'inscrire</a>
      </p>
    </div>
  </div>

</section>