<header class="header">
  Sushi Talence
    <button routerLink="/admin" class="admin-btn">
      Espace Admin
    </button>
  </header>

<div class="home">

  <div class="left">
    <div class="slider"></div>
  </div>


  <div class="right">
    <div class="card">
      <p>Découvrez nos délicieux sushis</p>

      <button routerLink="/login" class="btn">
        Se connecter
      </button>

      <p>
        Pas de compte ?
        <a routerLink="/register">S'inscrire</a>
      </p>
    </div>
  </div>

</div>