
<div class="filters">
<button class="btn-filter" (click)="filter('TOUS')">Tous</button>
<button class="btn-filter" (click)="filter('MAKI')">Maki</button>
<button class="btn-filter" (click)="filter('NIGIRI')">Nigiri</button>
<button class="btn-filter" (click)="filter('SASHIMI')">Sashimi</button>
</div>

<div class="main-content">
<div class="menu-grid">


  <ng-container *ngFor="let sushi of sushis">

    <div class="sushi-card"
         *ngIf="selectedCategory === 'TOUS' || sushi.category === selectedCategory">

      <div class="sushi-img-container">
        <img [src]="sushi.image" class="sushi-img">
      </div>

      <div class="card-content">
        <span class="category-tag">{{ sushi.category }}</span>

        <h3>{{ sushi.name }}</h3>

        <p class="price">{{ sushi.price }} €</p>

        <input type="number"
               [(ngModel)]="sushi.qty"
               min="0"
               class="qty">

        <button class="btn-commander"
                (click)="ajouter(sushi.name, sushi.price, sushi.qty)">
          Commander
        </button>

      </div>
    </div>

  </ng-container>

</div>


<div class="form-box">
<h2>Panier</h2>
<p>Total: <strong>{{ totalGlobal.toFixed(2) }}</strong> €</p>


<form (ngSubmit)="submitOrder()">
  <label>Nom:</label>
  <input type="text" [(ngModel)]="nom" name="nom" required>

  <label>Adresse:</label>
  <input type="text" [(ngModel)]="adresse" name="adresse" required>

  <button type="submit" class="btn-commander">
    Confirmer la Commande
  </button>
</form>

</div>
</div>